.attestButton {
    background-color: #FBBF24;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
  }
  
  .attestButton:hover {
    background-color: #FBBF24;
  }
  
  .attestButton:disabled {
    background-color: #888;
    cursor: not-allowed;
  }