/* Home.module.css */


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 250px; /* Sidebar width */
  flex-shrink: 0; /* Prevents shrinking */
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between; /* Space between components */
  padding: 20px;
  background-color: #ffffff;
  overflow-y: auto;
}

.middleSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px; /* Adds space between Recent and Tupdate */
}

.calendar {
  width: 400px; /* Adjust width as necessary */
  background-color: #fff;
  border-radius: 10px;
}

.recentSection {
  padding: 20px;
  background-color: #ffffff; /* Matches the content background */
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchContainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #F3F4F6;
  width: 300px; /* Increased width */
}

.searchInput {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  height: 30px;
  background-color: transparent;
}

.searchIcon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F3F4F6;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: #F3F4F6;
}

.connectButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #f3f4f6;
  color: #1f2937;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.walletIcon {
  width: 20px;
  height: 20px;
}

.connectButton:hover {
  background-color: #e5e7eb;
}




.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.calendarWrapper {
  width: 80vw; 
  height: 80vh; 
  max-width: 800px; 
  max-height: 600px; 
  margin-top: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.customCalendar {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 16px;
  text-align: center;
}
